.title{
    font-family: "Rubik Medium", serif;
    color: #01031A;
    font-size: 28px;
    margin: 0;
}

.text{
    font-family: "Rubik Light", serif;
    color: #666B92;
    font-size: 15px;
    margin: 0;
}