@import "styles/variables";
.header{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;

    h1 {
        font-family: 'Rubik Medium', serif;
        color: $black;
        font-size: 55px;
        margin-bottom: 20px;
    }

    p:nth-child(1){
        font-family: 'Rubik Regular', serif;
        font-size: 32px;
        color: $black;
    }

    p{
        font-family: 'Karla Light', serif;
        font-size: 24px;
        color: $darkGray;
    }

    ul {
        padding: 0;
        li{
            display: inline-block;
            a {
                color: $black;
                text-decoration: none;
                font-size: 40px;
                font-family: "Rubik Regular", serif;
                border-bottom: 3px solid $black;
                &:hover{
                    color: $blue;
                    border-bottom: 3px solid $blue;
                }
            }
        }
        li:nth-child(2) {
            margin: 0 40px;
        }
    }
}

.submenu_header{
    font-family: 'Rubik Medium', serif;
    font-size: 45px;
    margin-bottom: 30px;
}

.contact{
    p{
        font-family: 'Karla Light', serif;
        font-size: 24px;
        color: $darkGray;
    }
}