@import "variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react_blue{
  color: #61DAFB;
}

.node_green{
  color: #43853D;
}

.html_orange{
  color: #E54C21;
}

.mobile_green{
  color: #3BD580;
}

.cloud_blue{
  color: #159BFB;
}

.bootstrap_purple{
  color: #573575;
}

.sass_pink{
  color: #CF649A;
}

.css_blue{
  color: #016DB9;
}

.apple_black{
  color: #000;
}

.aws_orange{
  color: #F0941B;
}
